#/bin/bash

LS_LINUX="-hB --color=auto"
LS_OSX="-hG"

# OSX
function _alias_osx {
  alias ls="command ls $LS_OSX"
  alias cheatsheets="qlmanage -p $DROPBOX/reference/cheatsheets/*"
  alias pinstall='sudo port install'
  alias psearch='port search'
  alias binstall='brew install'
  alias updatedb='sudo /usr/libexec/locate.updatedb'
  alias unq='xattr -dr com.apple.quarantine'
}

# linux
#
function _alias_linux {
  alias install='sudo apt-get install'
  alias search='apt-cache search'
}

# filesystem
#
function _alias_fs {
  alias l.="ls -d .*"
  alias lal='ls -hal'
  alias ddiff='diff -rq'
  alias duh='du -h --max-depth=1'
  alias fn='find . -name'
  alias hi='history | tail -20'
  alias vrc='vim ~/.zshrc'
  alias src='source ~/.zshrc'
  alias val='vim ~/.aliases'
  alias sal='source ~/.aliases'
  alias fix_dir_perms='find . -type d -print0 | xargs -0 chmod 775'
  alias fix_file_perms='find . -type f -print0 | xargs -0 chmod 664' 
  alias fix_all_perms='perm_norm_dir; perm_norm_file'
}

# navigation
#
function _alias_nav {
  alias ..='cd ..'
  alias ...='cd ../..'
  alias ....='cd ../../..'
  alias h="cd ~"
  alias b="cd .."
  alias c="clear"
  alias db="cd $DROPBOX"
  alias cust="cd $DROPBOX/customization"
  alias desk="cd ~/Desktop"
  alias down="cd ~/Downloads"
  alias notes="cd $DROPBOX/notes"
  alias proj="cd $DROPBOX/projects"
  alias dev="cd $DROPBOX/dev"
  alias bin="cd ~/bin"
  alias tc="cd $DROPBOX/dev/trunkclub"
  alias enova="cd $DROPBOX/dev/enova"
  alias auto="cd $DROPBOX/dev/enova/auto"
  alias netc="cd $DROPBOX/dev/enova/netcredit"
}

#remotes
#
function _alias_remotes {
  alias skryl='ssh rut216@ssh.skryl.com'
  alias vh='ssh rut216@vh.skryl.com'
  alias origin='ssh rut216@origin.skryl.com'
  alias vintaget='ssh vintaget@vintagetreasury.com'

  alias pg1='ssh ubuntu@pg1.titlegenius.com'
  alias pgrep='ssh ubuntu@pgreporting.titlegenius.com'
  alias pgs='ssh ubuntu@pgstaging.titlegenius.com'
}

# tools
#
function _alias_tools {

# pygmentize
  alias catrb='pygmentize -l ruby'
  alias catjs='pygmentize -l javascript'
  alias catyml='pygmentize -l yaml'
  alias cathtml='pygmentize -l html'

# fasd
  fasd_cd() { [ $# -gt 1 ] && cd "$(fasd -e echo "$@")" || fasd "$@"; }
  alias j='fasd_cd -d'

# tmux
  alias tm="tmux -u"
  alias tma="tmux attach-session"
  alias tmls="tmux -u list-sessions"

# vim
  alias v='vim'
  alias vf='f -e vim'
  alias vimrc="vim ~/.vimrc"

# gems
  alias gi='gem install'
  alias gems='cd $HOME/.rbenv/versions/`rbenv global`/lib/ruby/gems/1.9.1/gems'

# rvm
  alias rvmc='rvm current'
  alias rvmu='rvm use'
  alias rvmd='rvm use default'
  alias rvmg='rvm gemset use'
  alias rvmr='rvm reload'

# rbenv
  alias rb='rbenv'
  alias rbv='rbenv version'
  alias rbl='rbenv local'
  alias rbg='rbenv global'
  alias rbi='rbenv install'
  alias rbr='rbenv rehash'
  alias rbw='rbenv which'

# rails
  alias pryc='bundle exec pry -r ./config/environment'
  alias be='bundle exec'
  alias rc='rails console'
  alias rs='rails server'
  alias guard='be guard'
  alias rt='tail -f log/development.log'
  alias db_create='rake db:create' 
  alias db_drop='rake db:drop && rake db:drop RAILS_ENV=test' 
  alias db_migrate='rake db:migrate && rake db:migrate RAILS_ENV=test'
  alias db_seed='rake db:seed && rake db:seed RAILS_ENV=test'
  alias db_dance='rake db:dance && rake db:dance RAILS_ENV=test' 
  alias dance_all='for dir in $(find . -type f -name Rakefile | xargs -n 1 dirname | sort); do; cd $dir; pwd; rake db:dance; cd -; done;'

# git
  alias ga='git add -A'
  alias gp='git push origin'
  alias gpu='git pull'
  alias gph='git push heroku'
  alias gps='git push staging'
  alias gpp='git push production'
  alias gpua='for dir in $(find . -type d -name .git | xargs -n 1 dirname | sort); do; cd $dir; pwd; git pull; cd -; done;'
  alias bundle_all='for dir in $(find . -type f -name Gemfile | xargs -n 1 dirname | sort); do; cd $dir; pwd; bundle; cd -; done;'
  alias gl='git lg'
  alias gs='git status'
  alias gd='git diff'
  alias gdc='git diff --cached'
  alias gb='git branch'
  alias gc='git checkout'
  alias gm='git merge'
  alias gcm='git commit -a -m'
  alias gca='git commit -a'
  alias gra='git remote add'
  alias grr='git remote rm'
  alias grhh='git reset --hard HEAD'

# heroku
  alias hc='heroku run console'
  alias hr='heroku run rake'
  alias hl='heroku logs'
  alias hps='heroku ps'
  alias hconf='heroku config'

# synergy
 alias synergy_client='synergyc 192.168.1.100'
 alias synergy_server='synergys --config ~/.synergy'

}

# load aliases
if [ "$UNAME" = Darwin ]; then
  _alias_osx
else
  _alias_linux
fi

_alias_fs
_alias_nav
_alias_remotes
_alias_tools
