#!/bin/bash

LS_OSX="-hG"
LS_LINUX="-hB --color=auto"

# ----------------------------------------------------------------------
# OSX
# ----------------------------------------------------------------------
function _alias_osx {
  alias ls="command ls $LS_OSX"
  alias unq='xattr -dr com.apple.quarantine'
  alias updatedb='LC_ALL='C' sudo gupdatedb'
  alias locate='sudo glocate'

  #homebrew
  alias brewi='brew install'
  alias brewu='brew uninstall'
  alias caski='brew cask install --appdir="/Applications"'
  alias casku='brew cask uninstall'
  alias casks='brew cask search'
  alias caskz='brew cask zap'
}

# linux
#
function _alias_linux {
  alias ls="command ls $LS_LINUX"

  # aptitude
  alias apti='sudo apt-get install'
  alias aptr='sudo apt-get remove'
  alias aptf='apt-cache search'
}

# ----------------------------------------------------------------------
# FILESYSTEM
# ----------------------------------------------------------------------
function _alias_fs {
  alias l.="ls -d .*"
  alias lal='ls -hal'

  alias duh='du -h --max-depth=1'
  alias dfh='df -h'

  alias fn='find . -name'
  alias loc='locate'

  alias ddiff='diff -rq'
  alias fix_dir_perms='find . -type d -print0 | xargs -0 chmod 775'
  alias fix_file_perms='find . -type f -print0 | xargs -0 chmod 664'
  alias fix_perms='fix_dir_perms; fix_file_perms'
  alias bootstrap='_bootstrap'
}

# ----------------------------------------------------------------------
# NAVIGATION
# ----------------------------------------------------------------------
function _alias_nav {
  alias h="cd ~"
  alias b="cd .."
  alias db="cd $DROPBOX"
  alias bin="cd ~/bin"
  alias dev="cd $DROPBOX/dev"
  alias cust="cd $DROPBOX/customization"
  alias desk="cd ~/Desktop"
  alias down="cd ~/Downloads"
  alias proj="cd $DROPBOX/dev/projects"
  alias notes="cd $DROPBOX/notes"
  alias edu="cd ~/Dropbox/dev/edu"

  alias work="cd $DROPBOX/dev/work"
  alias enova="cd $DROPBOX/dev/work/enova"
  alias drw="cd $DROPBOX/dev/work/drw"
  alias txi="cd $DROPBOX/dev/work/tablexi"
  alias 8b="cd $DROPBOX/dev/work/enova/8b"
  alias iq="cd $DROPBOX/dev/work/persistiq"
  alias trusted="cd $DROPBOX/dev/projects/trustedapp"
}

# ----------------------------------------------------------------------
# REMOTES
# ----------------------------------------------------------------------
function _alias_remotes {
  alias skryl='ssh rut216@ssh.skryl.org'
  alias minimac='ssh rut216@home.skryl.org'
  alias vintaget='ssh vintaget@vintagetreasury.com'
}

# ----------------------------------------------------------------------
# TOOLS
# ----------------------------------------------------------------------
function _alias_tools {

# system
  alias _='sudo'
  alias path="echo \$PATH | sed 's/:/ /g' | xargs -n 1 echo"
  alias psa="ps aux | grep "

# fasd
  fasd_cd() { [ $# -gt 1 ] && cd "$(fasd -e echo "$@")" || fasd "$@"; }
  alias j='fasd_cd -d'      # jump
  alias jj='fasd_cd -d -i'  # jump with interactive selection
  alias jstat='fasd -a'     # file statistics
  alias v='fasd -f -e vim'  # open file in vim
  alias o='fasd -f -e open' # open file through OS

# tmux
  alias tm="tmux -u"
  alias tma="tmux attach-session"
  alias tml="tmux -u list-sessions"

# dotfiles
  alias dot="$EDITOR ~/.zprofile ~/.zshrc ~/.bashrc ~/.functions ~/.aliases"
  alias src='source ~/.zshrc'
  alias vrc="vim ~/.vimrc"

# emacs
  alias emacs='emacs -nw'

# sublime
  alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

# rbenv
  alias rb='rbenv'
  alias rbv='rbenv version'
  alias rbl='rbenv local'
  alias rbg='rbenv global'
  alias rbi='rbenv install'
  alias rbr='rbenv rehash'
  alias rbw='rbenv which'

# ruby/rails
  alias be='bundle exec'
  alias gemi='gem install'
  alias rake='be rake'
  alias guard='be guard'
  alias rs='be rails server'
  alias rc='be pry -r ./config/environment'
  alias rl='tail -f log/development.log'
  alias db_create='be rake db:create'
  alias db_drop='be rake db:drop'
  alias db_migrate='be rake db:migrate'
  alias db_rollback='be rake db:rollback'
  alias db_seed='be rake db:seed'
  alias db_reset='be rake db:reset'
  alias db_dance='be rake db:drop db:create db:migrate db:seed'

# swift
  alias swift='xcrun swift'
  alias swiftc='xcrun swiftc'

# git
  alias ga='git add -A'
  alias gp='git push origin'
  alias gpu='git pull'
  alias gph='git push heroku'
  alias gps='git push staging'
  alias gpp='git push production'

  alias gl='git lg'
  alias gs='git status'
  alias gd='git diff'
  alias gdc='git diff --cached'

  alias gb='git branch'
  alias gco='git checkout'
  alias gcl='git clone'
  alias gm='git merge'
  alias gr='git rebase'

  alias gc='git commit'
  alias gca='git commit -a'
  alias gcm='git commit -m'
  alias gra='git remote add'
  alias grr='git remote rm'
  alias grh='git reset --hard'

  alias gpua='for dir in $(find . -type d -name .git | xargs -n 1 dirname | sort); do; cd $dir; pwd; git pull; cd -; done;'
  alias bundle_all='for dir in $(find . -type f -name Gemfile | xargs -n 1 dirname | sort); do; cd $dir; pwd; bundle; cd -; done;'

# heroku
  alias hc='heroku run console'
  alias hr='heroku run rake'
  alias hl='heroku logs -t'
  alias hps='heroku ps'
  alias henv='heroku config'

# synergy
 alias synergy_client='synergyc 192.168.1.100'
 alias synergy_server='synergys --config ~/.synergy'

# nocorrect / rlwrap
  alias rspec='nocorrect rspec'
  alias go='nocorrect go'
  alias sml='rlwrap sml'
  alias racket='rlwrap racket'

}

# load aliases
if test -n $OSX; then
  _alias_osx
else
  _alias_linux
fi

_alias_fs
_alias_nav
_alias_remotes
_alias_tools


_rc_debug_print ALIASES
