[user]
	name = Alex Skryl
	email = rut216@gmail.com

[color]
  ui = true

[core]
	editor = vim
	excludesfile = /Users/skryl/.gitignore
	autocrlf = input

[github]
	user = skryl

[push]
  default = current

[diff]
	tool = Kaleidoscope

[merge]
  keepBackup = false;
	tool = Kaleidoscope

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
  prompt = false

[difftool "filemerge"]
  cmd = opendiff "$LOCAL" "$REMOTE"
  trustExitCode = false
  prompt = false

[alias]
  diffall = !~/bin/common/git-diffall
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[difftool]
	prompt = false

[mergetool]
	prompt = false

[heroku]
	account = trusted
